@import "variables";
@import "node_modules/spectre.css/src/mixins";

/*! Spectre.css v#{$version} | MIT License | github.com/picturepan2/spectre */
// Reset and dependencies
@import "node_modules/spectre.css/src/normalize";
@import "node_modules/spectre.css/src/base";

// Elements
@import "node_modules/spectre.css/src/typography";
@import "node_modules/spectre.css/src/asian";
@import "node_modules/spectre.css/src/tables";
@import "node_modules/spectre.css/src/buttons";
@import "node_modules/spectre.css/src/forms";
@import "node_modules/spectre.css/src/labels";
@import "node_modules/spectre.css/src/codes";
@import "node_modules/spectre.css/src/media";

// Layout
@import "node_modules/spectre.css/src/layout";
@import "node_modules/spectre.css/src/hero";
@import "node_modules/spectre.css/src/navbar";

// Components
@import "node_modules/spectre.css/src/accordions";
@import "node_modules/spectre.css/src/avatars";
@import "node_modules/spectre.css/src/badges";
@import "node_modules/spectre.css/src/breadcrumbs";
@import "node_modules/spectre.css/src/bars";
@import "node_modules/spectre.css/src/cards";
@import "node_modules/spectre.css/src/chips";
@import "node_modules/spectre.css/src/dropdowns";
@import "node_modules/spectre.css/src/empty";
@import "node_modules/spectre.css/src/menus";
@import "node_modules/spectre.css/src/modals";
@import "node_modules/spectre.css/src/navs";
@import "node_modules/spectre.css/src/pagination";
@import "node_modules/spectre.css/src/panels";
@import "node_modules/spectre.css/src/popovers";
@import "node_modules/spectre.css/src/steps";
@import "node_modules/spectre.css/src/tabs";
@import "node_modules/spectre.css/src/tiles";
@import "node_modules/spectre.css/src/toasts";
@import "node_modules/spectre.css/src/tooltips";

// Utility classes
@import "node_modules/spectre.css/src/animations";
@import "node_modules/spectre.css/src/utilities";

// Left Menu
@import "node_modules/spectre.css/src/off-canvas";


/* == Make SQL box appear in centre with content controlled width =========== */



.code-popup {
    max-width: none;
    max-height: none;
    width: unset;

    div.code-code .line {
        margin-bottom: 0.5rem;
        &:last-of-type { margin-bottom: 0.5rem; }
        span { white-space: pre; font-family: monospace; }
    }

}

.no-modal .code-popup, .code-popup div.code {
    background-color: #f7f8f9;
}

.no-modal .code-popup {
    box-shadow:none;
    border: 1px solid #dadee4;
}

/* == Misc ================================================================== */
a {
    font-weight: bold;
    text-decoration: underline;
}
input[type="number"] { width: 6rem; }
.no-modal .modal-overlay { display: none; font-size: 0px; }
.modal-overlay { background: $bg-color !important; color: $bg-color !important; }
.modal-container { padding: $unit-4; }
div.in-popup div#main_links {
    margin: 0 auto 1.2rem 0;
}
div#main_links {
    margin: 1rem 0;
    text-align: center;
    a {
        padding: 0 0.5rem;
        border-right: 1px dashed black;
        &:last-child { border-right: none; }
    }
}
.input-popup {
    text-align: right;
    min-width: 8rem;
    div { float: left }
}
#showing-menu {
    width: 35%;
    margin: auto;
    #menu {
        margin-top: 3em;
        list-style: none;
        li a {
            margin: 1rem;
            color: #3b4351;
        }
    }
}
#logo {
    font-size: 2rem;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 2rem;
}
#sidebar-id {
    ul, #logo {
        margin: 2rem;
        list-style: none;
    }
    li a {
        margin: 1rem;
        color: #3b4351;
    }
}
input, select, .input-popup {
    &.is-error { border-color: $error-color; }
}
.toast-resultset-warning {
    margin: 3em 0;
}
#loading-modal.modal.active {
    background-color: white;
    opacity: 0;
    transition: opacity 1s ease-out;
    &.loading-notification {
        opacity: 0.8;
    }
    div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 288pt
    }
}
.showing-menu.off-canvas .off-canvas-overlay {
    background: rgba(56, 56, 56, 0.03)
}

#table-holder table td {
    // Align table cell contents to top when some cells are more than one line high
    vertical-align: top;
}

.off-canvas-content {
    // Avoid making the entire body horizontally scrollable when the table is too wide for the screen
    max-width: 100%;
    .columns {
        overflow: hidden;
        .col-auto {
            max-width: 100%;
        }
    }
}

// Table styles for extended display mode
.extended-display {
    #table-holder table, #table-holder tbody, #table-holder th, #table-holder td, #table-holder tr {
        display: block;
        max-width: 100%;
    }

    // Custom headers
    #table-holder thead {
        display: block;
        position: sticky;
        top: 0;
        z-index: 1;
        font-weight: bold;

        tr {
            display: flex;
        }

        tr:before, tr:after {
            display: inline-block;
            background-color: #dadee4;
            padding: 0.6rem 0.4rem;
        }

        tr:before {
            content: "Column Name";
            width: 40%;
            text-align: right;
            padding-right: 2em;
        }

        tr:after {
            content: "Value";
            width: 60%;
            padding-left: 0;
        }

        // Hide normal headers
        th {
            display: none;
        }
    }

    #table-holder tbody tr {
        border-bottom: 3px solid #ccc;
    }

    #table-holder tbody td {
        // Behave like a "row"
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding: 0.3rem 0.2rem;
        padding-left: 40%;
        overflow: hidden;
        word-wrap: break-word;
        text-align: left !important;
    }

    #table-holder tbody td:before {
        // Column name
        content: attr(data-field-name);
        font-weight: bold;
        position: absolute;
        top: 0.3rem ;
        left: 0.2rem;
        width: 40%;
        padding-right: 2rem;
        white-space: nowrap;
        text-align: right;
    }

    #table-holder tbody td:after {
        // Fix row height for empty string values
        content: " ";
        white-space: pre;
    }
}
#fake-console { display: none }
